<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dynamically Switch - AJAX Mixed Content Example</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/droplab.css">
</head>
<body>
<div class="container">
  <div class="dropdown">
    <input type='text' data-id='inputter' class='input' data-dropdown-trigger="#dropdown-1">
    <div class='dropdown-menu' id='dropdown-1' data-dropdown>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
      </ul>
      <ul data-dynamic>
        <li><a href='#' data-id='{{id}}'>{{text}}</a></li>
      </ul>
    </div>
    <ul class="dropdown-menu" id="dropdown-2" data-dropdown data-dynamic>
      <li><a href='#' data-id='{{id}}'>{{id}}</a></li>
    </ul>
  </div>
</div>
<a href="#" id="switcher">Switch List</a>
<script src="../../dist/droplab.js"></script>
<script src="../../dist/plugins/ajax.datasource.js"></script>
<script>
  document.getElementById('switcher').addEventListener('click', loadDropdown);

  var selectedDropdown = '#dropdown-2';
  function loadDropdown() {
    selectedDropdown = selectedDropdown === '#dropdown-1' ? '#dropdown-2' : '#dropdown-1';

    droplab.changeHookList('inputter', selectedDropdown);

    if (selectedDropdown === '#dropdown-1') {
      droplab.addData('inputter', '/features/plugins/example_data.json');
    } else {
      droplab.addData('inputter', [{
        id: 24601,
        text: 'Jacob'
      },
      {
        id: 24602,
        text: 'Jeff'
      }]);
    }
  };

  loadDropdown();
</script>
</body>
</html>
